
body{}

h1{}

.myList{
    list-style-type: none;
    padding-left: 0pt;
    line-height: 40px;
}

.li{}

#one{}

#two{}

#three{}

#four{}

#texBox{}

button{
    background-color: transparent;
    border-color: lightgray;
}

button:hover{
    background-color: lightgray;
}