.myList{
    list-style-type: none;
    padding-left: 0pt;
    line-height: 40px;
}

button{
    background-color: transparent;
    border-color: lightgray;
}

button:hover{
    background-color: lightgray;
}